.Rproj.user
.Rhistory
.RData
.Ruserdata
03_analyses/europ24_descriptions_files
03_analyses/images
03_analyses/europ24_descriptions_cache
03_analyses/europ24_descriptions.html
03_analyses/europ24_descriptions.qmd
03_analyses/europ24_vote_rn.qmd
01_data/
SocioElectMacr.Rproj
05_seances/.DS_Store
05_seances/s1_biblio.docx
05_seances/s1_introgen.qmd
05_seances/s1_introgen_presentation.html
05_seances/s1_introgen_presentation.pdf
05_seances/s1_introgen_presentation.qmd
05_seances/s1_introgen_presentation_files/libs/bootstrap/bootstrap-icons.css
05_seances/s1_introgen_presentation_files/libs/bootstrap/bootstrap-icons.woff
05_seances/s1_introgen_presentation_files/libs/bootstrap/bootstrap.min.css
05_seances/s1_introgen_presentation_files/libs/bootstrap/bootstrap.min.js
05_seances/s1_introgen_presentation_files/libs/clipboard/clipboard.min.js
05_seances/s1_introgen_presentation_files/libs/quarto-html/anchor.min.js
05_seances/s1_introgen_presentation_files/libs/quarto-html/popper.min.js
05_seances/s1_introgen_presentation_files/libs/quarto-html/quarto-syntax-highlighting.css
05_seances/s1_introgen_presentation_files/libs/quarto-html/quarto.js
05_seances/s1_introgen_presentation_files/libs/quarto-html/tippy.css
05_seances/s1_introgen_presentation_files/libs/quarto-html/tippy.umd.min.js
groupes.txt
03_analyses/.DS_Store
.DS_Store
